@charset "UTF-8";
body {
    background: #f4f4f4;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

header {
    width: 100%;
    background: #5cb85c;
    box-shadow: 0px 0px 30px #ccc;
}
header h1 {
    margin: 0;
    line-height: 10rem;
    font-size: 5rem;
    text-align: center;
    font-weight: 300;
    color: white;
}
@media (max-width: 540px) {
    header h1 {
        font-size: 3.5rem;
        line-height: 8rem;
    }
}
@media (max-width: 360px) {
    header h1 {
        font-size: 2.815rem;
        line-height: 6rem;
    }
}
.main-area {
    padding: 1rem;
    max-width: 1000px;
    margin: 0 auto;
    transform: translateY(calc(50vh - 137px));
    transition: all 300ms ease-in-out;
}
.main-area.selected {
    transform: translateY(0);
}
.main-area .reserve {
    position: relative;
}
.main-area .reserve:after {
    content: "▼";
    display: block;
    position: absolute;
    right: 90px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 5;
    pointer-events: none;
}
.main-area .reserve .selectpicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px;
}

h2 {
    display: inline-block;
    position: relative;
    font-weight: 300;
}

.parking-info {
    padding: 1rem 0 0;
    font-weight: 400;
    font-size: 2rem;
}
.parking-info span {
    font-weight: 300;
}

.available-bikes {
    margin: 1rem -.5rem 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
.available-bikes .bike {
    padding: 1rem;
    margin: .5rem;
    border: 1px solid #ccc;
    background: white;
    border-radius: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: calc(25% - 1rem);
    opacity: 0;
    transform: translateY(-10px);
    animation: loadBikes 500ms 100ms ease-in-out forwards;
}
@keyframes loadBikes {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@media (max-width: 885px) {
    .available-bikes .bike {
        width: calc(100% / 3 - 1rem);
    }
}
@media (max-width: 640px) {
    .available-bikes .bike {
        width: calc(50% - 1rem);
    }
}
@media (max-width: 440px) {
    .available-bikes .bike {
        width: calc(100% - 1rem);
    }
}
.available-bikes .bike i {
    font-size: 60px;
    line-height: 90px;
    vertical-align: middle;
    padding-right: 1rem;
    margin-right: 1rem;
}
.available-bikes .bike__info {
    min-width: 50%;
}
.available-bikes .bike__info h3:before {
    content: "Sykkelnummer";
    display: block;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.2rem;
}
.available-bikes .bike__info .progress {
    position: relative;
    -webkit-transition: background 200ms ease-in-out;
    transition: background 200ms ease-in-out;
}
@media (max-width: 440px) {
    .available-bikes .bike__info .progress {
        background: #ccc;
    }
}
.available-bikes .bike__info .progress:before {
    content: attr(aria-valuenow) "%";
    position: absolute;
    display: block;
    width: 100%;
    color: white;
    text-shadow: 0 0 5px #aaa;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}
@media (max-width: 440px) {
    .available-bikes .bike__info .progress:before {
        opacity: 1;
    }
}
.available-bikes .bike__info .progress:hover {
    background: #ccc;
}
.available-bikes .bike__info .progress:hover:before {
    opacity: 1;
}

footer {
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}
